*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body{
    background-color: hsl(202, 21%, 93%);
}
.main-container{
    background: url('./images/bg-pattern-intro.svg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: hsl(356, 100%, 66%);
    border-bottom-left-radius: 8rem;
    font-family: 'Overpass', sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__links{
    margin-left: 10rem;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 4rem;
    text-decoration: none;
    margin: 2.5rem;
    color: white;
}
.links{
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
}
.links a{
    text-decoration: none;
    margin: 3rem;
    color: white;
}
.links i{
    margin-left: 0.5rem;
}
.btns{
    margin-right: 6rem;
}
.btn__active{
    margin: 3rem;
    border: none;
    outline: none;
    padding: 1.2rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    background: none;
    color: hsl(240, 2%, 79%);
    border-radius: 2rem;
    background-color:  white;
    color: hsl(356, 100%, 66%);
    cursor: pointer;
}
.btn__active:hover{
    background-color:  rgb(235, 229, 229);
}
.btn__inactive{
    margin: 3rem;
    border: 1px solid white;
    outline: none;
    padding: 1.2rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    background: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}
.btn__inactive:hover{
    background-color: rgb(235, 229, 229);
    color: hsl(356, 100%, 66%);
    border: none;
}

/* Main Content */
.main-content{
    text-align: center;
    margin: 20rem;
    color: white;
}
.main-content h3{
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 0.4rem;
    font-family: 'Overpass', sans-serif;
}
.main-content p{
    margin: 2rem;
    font-size: 2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;  
}

/* Content Part 1 */
.cp1{
    background: url('./images/illustration-editor-desktop.svg') no-repeat;
    background-position: 800px 0px;
    background-size: 900px 900px;
    height: 100vh;
    width: 100%;
    padding-left: 5rem;
}
.cp1 h2{
    text-align: center;
    color: black;
    font-size: 3.5rem;
    margin: 6rem;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
}
.cp1 .cp1_left{
    text-align: left;
    max-width: 40%;
    margin-left: 8rem;
    margin-top: 15rem;
}
.cp1_left h4{
font-size: 2.6rem;
font-weight: 300;
font-family: 'Overpass', sans-serif;
margin: 6rem 0 3rem 0;
color: hsl(240, 10%, 16%);
}
.cp1_left p{
    font-size: 2rem;
    font-family: 'Overpass', sans-serif;
    margin-top: 3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: hsl(207, 13%, 34%);
}
/* cp1 ends */
.cp2{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.phone_banner{
    background-color: red;
    height:55vh;
    width: 100%;
    border-top-right-radius: 8rem;
    border-bottom-left-radius: 8rem;
    background: url('./images/bg-pattern-circles.svg') no-repeat;
    background-color: hsl(240, 10%, 16%);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.phone_banner h4{
    color: white;
    margin: 4rem 12rem 1rem 0;
    font-size: 4rem;
    font-family: 'Overpass', sans-serif;
}
.phone_banner p{
    color: white;
    margin: 3rem 5.5rem;
    font-size: 2.1rem;
    font-weight: 100;
    font-family: 'Overpass', sans-serif;
}
.phone_banner img{
    position: absolute;
    top: 80px;
    left: 0px;
}
/* content part 3 */
.cp3{
    background: url('./images/illustration-laptop-desktop.svg') no-repeat;
    background-position: -260px 0px;
    background-size: 1000px 800px;
    height: 100vh;
    width: 100%;
    /* padding-left: 5rem; */
}
.cp3 h2{
    text-align: right;
    color: black;
    font-size: 3.5rem;
    margin: 6rem;
    font-weight: 500;
    font-family: 'Overpass', sans-serif;
}
.cp3 .cp3_left{
    text-align: left;
    width: 45%;
    margin-left: 80rem;
    padding-top: 15rem;
}
.cp3_left h4{
font-size: 2.6rem;
font-weight: 300;
font-family: 'Overpass', sans-serif;
margin: 6rem 0 3rem 0;
color: hsl(240, 10%, 16%);
}
.cp3_left p{
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
    margin-top: 3rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    color: hsl(207, 13%, 34%);
}
/* footer starts here */
.footer_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: 40vh;
    color: white;
    list-style: none;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 8rem;
    font-family: 'Overpass', sans-serif;
}
.footer_logo{
    font-size: 5rem;
    margin-top: 4rem;
}
.footer_container li:first-child{
    font-size: 2.5rem;
    margin: 1rem auto;
    color: white;
    cursor: default;
}
.footer_container li{
padding: 1rem;
font-size: 1.8rem;
color: hsl(240, 2%, 79%);
cursor: pointer;
}
.footer_container li:hover{
    color: white;
}